/* 
---------------------
Custom properties
----------------------
*/
:root{
    --clr-primary: #030712;
    --clr-dark-900: #111827;
    --clr-blue: #15083E;
    --clr-secondary: #6CD3FF;
    --clr-accent: #8C72FF;
    --clr-white-body: #E2E1E4;
    --clr-white-heading: #EBE6FA;
    --clr-white-btn: #FBFAFF;

    --ff-primary: "Oxygen", sans-serif;
  --ff-secondary: "Oxygen Mono", monospace;

    --fs-100: 1rem;
  --fs-200: 1.25rem;
  --fs-300: 2.25rem;
  --fs-400: 3rem;
  --fs-500: 4rem;

  --spacer: 1rem;
}
/* 
---------------------
Resets
----------------------
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--clr-primary);
  color: var(--clr-white-body);
  font-family: var(--ff-primary);
  font-size: var(--fs-100);
}


/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}
/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

h1{
    font-family: var(--ff-secondary);
    margin-bottom: 2rem;
    font-size: var(--fs-300);
}


/* 
---------------------
Utility classes
----------------------
*/

.container {
  padding: 0 var(--spacer);
  max-width: 70rem;
  margin: 0 auto;
}
.flow-content > * + * {
  margin-top: var(--flow-space, var(--spacer));
}

.flow-content--lg {
  --flow-space: 3rem;
}
.btn{
    border: none;
    border-radius: 12px;
    padding: .5rem 1.5rem;
    background-color: var(--clr-white-btn);
    color: var(--clr-dark-900);
    transition: all .2s;
    cursor: pointer;
}

.btn:hover{
  background-color: var(--clr-accent);
  color: var(--clr-white-btn);
  transform: scale(1.125);
}

/* 
---------------------
Header
----------------------
*/
.header{
    background-color: var(--clr-dark-900);
}
.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
}
.header__container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;    
}
.header a{
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    transition: all .2s;
    cursor: pointer;
}


.header a:hover, .header a:focus{
 color: var(--clr-accent);
  transform: scale(1.125);
}
.header a svg{
    width: 2rem;
    fill: var(--clr-accent);
}
.header__logo a{
    max-width: 5rem;   
}
.header__logo img{
    max-width: 5rem;
}

/* 
---------------------
Profile
----------------------
*/
.user-profile{
    margin: 3rem auto; 
    max-width: 70rem;
    padding: 2rem 0;
    text-align: center;
}
.score-details{
     padding: 2rem 0;
     margin: 2rem auto;
     border-radius: 12px;
}
.score-details > * + * {
  margin-top: var(--flow-space, var(--spacer));
}

.score__flex{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.display__score{
    background-color: var(--clr-dark-900);
    margin:  2rem auto;
    padding: 2rem .5rem;
    border-radius: 12px;
    border-bottom: 2px solid var(--clr-accent);
    width: 70%;
    max-width: 250px;
}

.display__score > * + * {
  margin-top: var(--flow-space, var(--spacer));
}

.display__score .score{
    font-size: var(--fs-200);
    font-weight: 700;
    color: var(--clr-accent);
}

@media (min-width: 700px) {
    .score__flex{
        flex-direction: row;
    }
    body{
      font-size: var(--fs-200);
    }
}
/* 
---------------------
Feedback
----------------------
*/

.feedback-button {
  width: 90px;
  position: fixed;
  right: 40px;
  bottom: 5%;
  z-index: 999;
  background-color: var(--clr-accent);
  padding: .75rem 2rem .1rem 2rem;
  border: none;
  border-radius: 12px;
}

#feedback-main {
  display: none;
  /* float: left; */
  padding-top: 0px;
  background-color: green;
}

#feedback-div {
  background-color: var(--clr-dark-900);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  width: 450px;
  /* float: left; */
  left: 55%;
  top: 15%;
  position: absolute;
  margin-top: 30px;
  margin-left: -260px;
}

.feedback-input {
  color: #3c3c3c;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: var(--clr-white-btn);
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
  box-shadow: 0;
  border: 3px solid var(--clr-accent);
  outline: none;
  padding: 13px 13px 13px 54px;
}


/* Icons ---------------------------------- */

#feedback-comment {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
        
input:hover,
#feedback-comment:hover,
input:focus,
#feedback-comment:focus {
  background-color: white;
}

#feedback-button-blue {
  font-family:var(--ff-secondary);
  border: none;
  width: 100%;
  cursor: pointer;
  background-color: var(--clr-accent);
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

#feedback-button-blue:hover {
  background-color: var(--clr-blue);
}

.feedback-button-blue:hover {
  color: var(--clr-accent);
}

.feedback-ease {
  width: 0px;
  height: 74px;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.feedback-submit:hover .feedback-ease {
  width: 100%;
}

@media only screen and (max-width: 580px) {
  #feedback-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}